/* 
1.header
2.slider
3.about
4.content
5.footer
*/

/*
1.Vị trí
2.kích thước
3.Màu sắc
4.Định dạng
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff;
}

.push-right {
    float: right;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.mt-16 {
    margin-top: 16px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: calc(100% / 3);
}

.col-2 {
    width: 50%;
}

.text-center {
    text-align: center !important;
}

.background-fff {
    background-color: #fff;
}

.background-000 {
    background-color: #000;
}

.width-fullsize {
    width: 100%;
}

.font-15 {
    font-size: 15px;
}

/* #main {

} */

/* begin header */
#header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46px;
    position: fixed;
    background-color: #000;
}

#nav,
#nav > li {
    display: inline-block;
}

#nav li {
    line-height: 46px;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    padding: 0 24px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}


#nav > li:hover > a,
#nav .subnav  li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-dow {
    font-size: 13px;
}

#nav .subnav {
    left: 0;
    top: 100%;
    display: none;
    min-width: 160px;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    display: block;
    padding: 0 16px;
    font-size: 15px;
    line-height: 38px;
}

#nav li:hover .subnav {
    width: 100%;
    display: block;
}

#header .mobile-menu-btn,
#header .search-btn {
    cursor: pointer;
    font-weight: 900;
    padding: 12px 24px;
    text-decoration: none;
}

#header .menu-icon,
#header .search-icon {
    font-size: 16px;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .mobile-menu-btn {
    top: 0;
    right: 0;
    display: none;
    position: absolute;
}
/* end header */

/* begin slider */
#slider {
    padding-top: 50%;
    position: relative;
    margin-top: 46px;
    /* background: url(/assets/img/places1.jpg) top center / cover no-repeat; */
}

#slider .slider-content {
    bottom: 47px;
    position: absolute;
    display: inline-block;
}

#slider .slider-header {
    margin: 10px;
    font-size: 24px;
}

#slider .slider-desc {
    padding-top: 15px;
    font-weight: bolder;
}
/* end slider */

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .content-header {
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content  .content-desc {
    margin: 15px;
    opacity: 60%;
    display: block;
}

#content .content-text {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 32px;;
}

#content .member-list {
    margin-bottom: 47px;
}

#content .member-name {
    margin: 15px 0;
}

#content .member-img {
    width: 60%;
    cursor: pointer;
    border-radius: 4px;
}

.tour-section .tickets-list {
    margin-top: 40px;
}

.tour-section .tickets-list li {
    list-style: none;
    color: #757575;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.tour-section .tickets-list .sold-out {
    padding: 4px 8px;
    margin-left: 16px;
    background-color: rgba(244, 67, 54);
}

.tour-section .tickets-list .quantity {
    width: 24px;
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 50%;
    margin-right: 16px;
}

.location-list {
    margin-top: 16px;
    margin-bottom: 38px;
}

.location-item .location-img {
    display: block;
    cursor: pointer;
}

.location-item .location-img:hover {
    opacity: 0.6;
}

.location-body {
    padding: 0 16px;
}

.location-list .location-header {
    padding: 15px 0;
}

.location-item .location-desc {
    margin: 15px 0;
    line-height: 1.5;
}

.location-list .location-time {
    opacity: 0.6;
}

.location-list .location-btn {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    margin-bottom: 16px;
    transition: all .3s;
}

#contact .contact-content {
    padding: 32px 0;
}

#contact .contact-info {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 16px;
}

#contact .contact-info .contact-icon::before {
    width: 30px;
    display: inline-block;
}

#contact .form-control {
    outline: none;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid#ccc;
}

.fix-width-same {
    margin-top: -8px;
}

#contact .send {
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 11px 17px;
    border-radius: 2px;;
}

.map {
    margin-bottom: -5px;
    /* filter: grayscale(50%); */
}

#footer .socials-list {
    font-size: 22px;
    padding: 64px 0;
}

#footer .socials-list .icon-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

#footer .socials-list .icon-list a:hover  {
    color: rgba(0, 0, 0, 0.4);
}

#footer .socials-list .icon-list i[class*="ti-"] {
    display: inline-block;
}

#footer .source {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#footer .source-w3-Band {
    color: rgba(0, 0, 0, 0.5);
}

/* begin modal */
.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

.modal .modal-container {
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

.modal.open {
    display: flex;
}

.modal .modal-container .modal-close {
    top: 0;
    right: 0;
    color: #fff;
    padding: 16px 15px;
    position: absolute;
}

.btn:hover,
.modal-container .modal-footer .close-btn:hover,
.modal-body #buy-tickets:hover {
    cursor: pointer;
    color: #000 !important; 
    background-color: #ccc;
}

.modal .modal-header {
    display: flex;
    height: 130px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    align-items: center;
    letter-spacing: 4px;
    justify-content: center;
    background-color: #009688;
}

.modal .modal-header .modal-icon-bag {
    margin-right: 16px;
}

.modal .modal-body {
    padding: 0 16px;
}

.modal-body .modal-label {
    display: block;
    margin: 15px 0;
}

.modal-body .modal-input {
    padding: 10px;
    border: 1px solid #ccc;
}

.modal-container #buy-tickets {
    width: 100%;
    border: none;
    padding: 18px;
    color: #fff;
    margin: 16px 0;
    font-weight: 600;
    background-color: #009688;
}

.modal-container .modal-footer {
    margin: 0 16px;
}

.modal-container .modal-footer .close-btn {
    border: none;
    margin: 16px 0;
    padding: 10px 13px;
    background-color: #f44336;
}

.modal-footer button {
    border: none;
    width: 150px;
    height: 50px;
    display: flex;
    cursor: pointer;
    background: red;
    border-radius: 5px;
    align-items: center;
    background: #e62222;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.modal-footer button::after {
    display: inline-block;
}
   
.modal-footer button, button span {
    transition: 200ms;
}
   
.modal-footer button .text {
    font-size: 18px;
    font-weight: bold;
    transform: translateX(35px);
}
   
.modal-footer button .icon {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateX(110px);
    border-left: 1px solid #c41b1b;
}
   
.modal-footer button svg {
    width: 15px;
    fill: #eee;
}
   
.modal-footer button:hover {
    background: #ff3636;
}
   
.modal-footer button:hover .text {
    color: transparent;
   }
   
.modal-footer button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}
   
.modal-footer button:focus {
    outline: none;
}
   
.modal-footer button:active .icon svg {
    transform: scale(0.8);
}

.modal-container .modal-footer .footer-close {
    font-size: 12px;
    font-weight: bolder;
}

.modal-footer .modal-need {
    font-size: 15;
    padding: 16px 0;
}

.modal-fotter .modal-help .modal-need-help a{
    cursor: pointer;
    color: #2196F3;
}

/* begin modal animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* end modal */